"      ___           ___           ___           ___
"     /\  \         /\  \         /\  \         |\__\
"     \:\  \       /::\  \       /::\  \        |:|  |
"      \:\  \     /:/\:\  \     /:/\:\  \       |:|  |
"      /::\  \   /:/  \:\  \   /::\~\:\  \      |:|__|__
"     /:/\:\__\ /:/__/ \:\__\ /:/\:\ \:\__\     /::::\__\
"    /:/  \/__/ \:\  \ /:/  / \/_|::\/:/  /    /:/~~/~
"   /:/  /       \:\  /:/  /     |:|::/  /    /:/  /
"   \/__/         \:\/:/  /      |:|\/__/     \/__/
"                  \::/  /       |:|  |
"                   \/__/         \|__|
"               ----------------------------
"               |   Tory 的 IDEA VIM 配置   |
"               ----------------------------

" ----- 基础设置 -----
" 在光标距离窗口顶部或底部一定行数时，开始滚动屏幕内容
set scrolloff=10
" 设置行号
set number
" 设置相对行号
set relativenumber

" ----- 复制粘贴设置 -----
" 共用系统剪贴板
set clipboard+=unnamed

" ----- 快捷键映射 -----
let mapleader = ' '

" ----- NORMAL -----
" 映射leader-f为格式化
nmap <leader>f <Action>(ReformatCode) <Action>(OptimizeImports)
" 映射leader-r为运行
nmap <leader>r <Action>(Run)
" 映射leader-e开启NERDTree
nnoremap <leader>e :NERDTree<CR>
" 映射leader-nh取消高亮
nnoremap <leader>nh :noh<CR>
" 映射leader-w为强制保存
nnoremap <leader>w :w!<CR>
" 映射leader-q为强制退出
nnoremap <leader>q :q!<CR>
" 映射leader-x为强制保存并退出
nnoremap <leader>x :x!<CR>
" 映射alt-H为切换到左标签页
nnoremap <A-h> :tabp<CR>
" 映射alt-L为切换到右标签页
nnoremap <A-l> :tabn<CR>

" ----- INSERT -----

" ----- VISUAL -----
" 对选中的行上下移动
vnoremap J :m '>+1<CR>gv
vnoremap K :m '<-2<CR>gv

" ----- 插件 -----
" 高亮所复制的文本
Plug 'machakann/vim-highlightedyank'
" 注释插件
Plug 'tpope/vim-commentary'
" 文件树插件
Plug 'preservim/nerdtree'

" ----- 键位冲突处理 -----
" Shift+Enter 在所有模式下为换行
sethandler <S-Enter> a:ide
" Ctrl+PageUp 在所有模式下为光标跳转到页面顶部
sethandler <C-PageUp> a:ide
" Ctrl+PageDown 在所有模式下为光标跳转到页面底部
sethandler <C-PageDown> a:ide
" Shift+左键头 在所有模式下为选区扩展到父节点
sethandler <S-Left> a:ide
" Ctrl+左键头 在所有模式下为光标移至上一个单词
sethandler <C-Left> a:ide
" Shift+上键头 在所有模式下为选区扩展到上一行
sethandler <S-Up> a:ide
" Ctrl+上键头 在所有模式下为向上滚动
sethandler <C-Up> a:ide
" Shift+右箭头 在所有模式下为AI补全
sethandler <S-Right> a:ide
" Ctrl+右箭头 在所有模式下为光标移至下一个单词
sethandler <C-Right> a:ide
" Shift+下箭头 在所有模式下为选区扩展到下一行
sethandler <S-Down> a:ide
" Ctrl+下箭头 在所有模式下为向下滚动
sethandler <C-Down> a:ide
" Ctrl+2 在所有模式下为切换到书签2
sethandler <C-2> a:ide
" Ctrl+Shift+2 在所有模式下为添加书签2
sethandler <C-S-2> a:ide
" Ctrl+6 在所有模式下为切换到书签6
sethandler <C-6> a:ide
" Ctrl+Shift+6 在所有模式下为添加书签6
sethandler <C-S-6> a:ide
" Ctrl+A 在所有模式下为光标所在位置或之后的数字加1
sethandler <C-A> a:vim
" Ctrl+B 在所有模式下为向上滚动一页
sethandler <C-B> a:vim
" Ctrl+C 在所有模式下为退出插入模式
sethandler <C-C> a:vim
" Ctrl+D 在所有模式下为向下滚动半页
sethandler <C-D> a:vim
" Ctrl+E 在所有模式下为向下移动页且光标不动
sethandler <C-E> a:vim
" Ctrl+F 在所有模式下为向下滚动一页
sethandler <C-F> a:vim
" Ctrl+G 在所有模式下为转到行...
sethandler <C-G> a:ide
" Ctrl+H 在所有模式下为删除光标左边的字符(i)或左移(n)
sethandler <C-H> a:vim
" Ctrl+I 在所有模式下为光标再次跳转回去
sethandler <C-I> a:vim
" Ctrl+J 在所有模式下为换行(i)或下移(n)
sethandler <C-J> a:vim
" Ctrl+K 在所有模式下为输入二合字母(i)
sethandler <C-K> a:vim
" Ctrl+L 在所有模式下为聚焦文本筛选器
sethandler <C-L> a:ide
" Ctrl+M 在所有模式下为换行(i)或移动到下一行的第一个非空白字符(n)
sethandler <C-M> a:vim
" Ctrl+N 在所有模式下为类...
sethandler <C-N> a:ide
" Ctrl+O 在所有模式下为跳回到上一个光标位置
sethandler <C-O> a:vim
" Ctrl+P 在所有模式下为显示路径输入字段
sethandler <C-P> a:ide
" Ctrl+Q 在所有模式下为进入可视块模式
sethandler <C-Q> a:vim
" Ctrl+R 在所有模式下为重做
sethandler <C-R> a:vim
" Ctrl+S 在所有模式下为全部保存
sethandler <C-S> a:ide
" Ctrl+T 在所有模式下为增加当前行缩进(i)或跳回上一个标签位置
sethandler <C-T> a:vim
" Ctrl+U 在所有模式下为向上滚动半页
sethandler <C-U> a:vim
" Ctrl+V 在所有模式下为粘贴
sethandler <C-V> a:ide
" Ctrl+W 在所有模式下为分割窗口
sethandler <C-W> a:vim
" Ctrl+X 在所有模式下为光标所在位置或之后的数字减1
sethandler <C-X> a:vim
" Ctrl+Y 在所有模式下为向上移动页且光标不动
sethandler <C-Y> a:vim
" Ctrl+Z 在所有模式下为撤销操作
sethandler <C-Z> a:vim
" Ctrl+[ 在所有模式下为退出插入模式
sethandler <C-[> a:vim
" Ctrl+\ 在所有模式下为提示更改代码
sethandler <C-\> a:ide
" Ctrl+] 在所有模式下为跳转声明
sethandler <C-]> a:vim
