"      ___           ___           ___           ___
"     /\  \         /\  \         /\  \         |\__\
"     \:\  \       /::\  \       /::\  \        |:|  |
"      \:\  \     /:/\:\  \     /:/\:\  \       |:|  |
"      /::\  \   /:/  \:\  \   /::\~\:\  \      |:|__|__
"     /:/\:\__\ /:/__/ \:\__\ /:/\:\ \:\__\     /::::\__\
"    /:/  \/__/ \:\  \ /:/  / \/_|::\/:/  /    /:/~~/~
"   /:/  /       \:\  /:/  /     |:|::/  /    /:/  /
"   \/__/         \:\/:/  /      |:|\/__/     \/__/
"                  \::/  /       |:|  |
"                   \/__/         \|__|
"               ----------------------------
"               |   Tory 的 IDEA VIM 配置   |
"               ----------------------------

" ----- 基础设置 -----
" 在光标距离窗口顶部或底部一定行数时，开始滚动屏幕内容
set scrolloff=10
" 设置行号
set number
" 设置相对行号
set relativenumber

" ----- 搜索设置 -----

" ----- 复制粘贴设置 -----
" 共用系统剪贴板
set clipboard+=unnamed
" 复制粘贴高亮
Plug 'machakann/vim-highlightedyank'

" ----- 快捷键映射 -----
let mapleader = ' '
" 映射leader-f为格式化
map <leader>f <Action>(ReformatCode)
" 映射leader-r为运行
map <leader>r <Action>(Run)
" ----- NORMAL -----
" 映射leader-nh取消高亮
nmap <leader>nh :noh<CR>
" 映射leader-w为强制保存
nmap <leader>w :w!<CR>
" 映射leader-q为强制退出
nmap <leader>q :q!<CR>
" 映射leader-x为强制保存并退出
nmap <leader>x :x!<CR>
" ----- INSERT -----
" 映射jk为退出
imap jk <Esc>
" ----- VISUAL -----
" 对选中的行上下移动
vmap J :m '>+1<CR>gv=gv
vmap K :m '<-2<CR>gv=gv

" ----- 键位冲突处理 -----
" Ctrl+A在所有模式下为全选
sethandler <C-A> a:ide
" Ctrl+Z在所有模式下为撤回
sethandler <C-Z> a:ide
" Ctrl+C在normal和visual and select模式下为复制，insert模式下为返回普通模式
sethandler <C-C> n-v:ide i:vim
" Ctrl+V在所有模式下为粘贴
sethandler <C-V> a:ide
" Ctrl+U在所有模式下为向上滚动半页
sethandler <C-U> a:vim
" Ctrl+D在所有模式下为向下滚动半页
sethandler <C-D> a:vim
" Ctrl+F在所有模式下为向下滚动一页
sethandler <C-F> a:vim
" Ctrl+B在所有模式下为向上滚动一页
sethandler <C-B> a:vim
" Ctrl+P在所有模式下为显示路径输入字段
sethandler <C-P> a:ide
