"      ___           ___           ___           ___
"     /\  \         /\  \         /\  \         |\__\
"     \:\  \       /::\  \       /::\  \        |:|  |
"      \:\  \     /:/\:\  \     /:/\:\  \       |:|  |
"      /::\  \   /:/  \:\  \   /::\~\:\  \      |:|__|__
"     /:/\:\__\ /:/__/ \:\__\ /:/\:\ \:\__\     /::::\__\
"    /:/  \/__/ \:\  \ /:/  / \/_|::\/:/  /    /:/~~/~
"   /:/  /       \:\  /:/  /     |:|::/  /    /:/  /
"   \/__/         \:\/:/  /      |:|\/__/     \/__/
"                  \::/  /       |:|  |
"                   \/__/         \|__|
"               ----------------------------
"               |   Tory 的 IDEA VIM 配置   |
"               ----------------------------

" ----- 基础设置 -----
" 在光标距离窗口顶部或底部一定行数时，开始滚动屏幕内容
set scrolloff=10
" 设置行号
set number
" 设置相对行号
set relativenumber

" ----- 复制粘贴设置 -----
" 共用系统剪贴板
set clipboard+=unnamed

" ----- 快捷键映射 -----
let mapleader = ' '

" ----- NORMAL -----
" 映射leader-f为格式化
nmap <leader>f <Action>(ReformatCode)
" 映射leader-r为运行
nmap <leader>r <Action>(Run)
" 映射leader-e开启NERDTree
nnoremap <leader>e :NERDTree<CR>
" 映射leader-nh取消高亮
nnoremap <leader>nh :noh<CR>
" 映射leader-w为强制保存
nnoremap <leader>w :w!<CR>
" 映射leader-q为强制退出
nnoremap <leader>q :q!<CR>
" 映射leader-x为强制保存并退出
nnoremap <leader>x :x!<CR>
" 映射alt-H为切换到左标签页
nnoremap <A-h> :tabp<CR>
" 映射alt-L为切换到右标签页
nnoremap <A-l> :tabn<CR>

" ----- INSERT -----

" ----- VISUAL -----
" 对选中的行上下移动
vnoremap J :m '>+1<CR>gv
vnoremap K :m '<-2<CR>gv

" ----- 插件 -----
" 高亮所复制的文本
Plug 'machakann/vim-highlightedyank'
" 注释插件
Plug 'tpope/vim-commentary'
" 文件树插件
Plug 'preservim/nerdtree'

" ----- 键位冲突处理 -----
" Ctrl+A在所有模式下为全选
sethandler <C-A> a:ide
" Ctrl+R在所有模式下为重做
sethandler <C-R> a:vim
" Ctrl+U在所有模式下为向上滚动半页
sethandler <C-U> a:vim
" Ctrl+D在所有模式下为向下滚动半页
sethandler <C-D> a:vim
" Ctrl+F在所有模式下为向下滚动一页
sethandler <C-F> a:vim
" Ctrl+B在所有模式下为向上滚动一页
sethandler <C-B> a:vim
" Ctrl+O在所有模式下为跳回到上一个光标位置
sethandler <C-O> a:vim
" Ctrl+I所有模式下为再次跳过去
sethandler <C-I> a:vim
" Ctrl+C在normal和visual and select模式下为复制，insert模式下为返回普通模式
sethandler <C-C> n-v:ide i:vim
" Ctrl+V在所有模式下为粘贴
sethandler <C-V> a:ide
" Shift+右箭头在所有模式下为AI补全
sethandler <S-Right> a:ide
" Ctrl+P在所有模式下为显示路径输入字段
sethandler <C-P> a:ide
